[Desktop Entry]
Name=BlockBreak
Exec=BlockBreak
Icon=BlockBreak/BlockBreak.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Supported-Orientations=portrait

